{
	admin off
	persist_config off
	auto_https off
}

:{$PORT:8080} {
	root * /srv
	encode zstd gzip
	file_server

	@html path *.html /
	header @html Cache-Control "public, max-age=0, must-revalidate"

	@static path *.webp *.png *.jpg *.jpeg *.svg *.ttf *.woff2 *.js *.css
	header @static Cache-Control "public, max-age=86400"
}
